
.vs/chatGPT/FileContentIndex/3bdc284f-de05-494e-99a7-9f45bba689ad.vsidx
.vs/chatGPT/FileContentIndex/4a440474-9821-4bf6-853a-1806a544d065.vsidx
.vs/chatGPT/FileContentIndex/efc0ca4c-0dcc-42c8-89eb-ffe86a63da07.vsidx
.vs/slnx.sqlite
*.vsidx
